/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .tour .img-tour li {
        background: #eee;
        width: 24%;
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: 739px) {}